* {
	margin: 0;
	padding: 0;
	font-family: Palatino;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.page_container {
	width: 16cm;
	height: 23cm;
	padding-left: 2cm;
	padding-bottom: 2cm;
	padding-top: 1.75cm;
	padding-right: 2.5cm;
	box-sizing: border-box;
	position: relative;
}
.page_container .line {
	background-color: #dedede;
	position: absolute;
}
.page_container .line.left {
	left: 2cm;
	height: 21cm;
	top: 1cm;
	width: 1px;
}
.page_container .line.right {
	right: 2.5cm;
	height: 21cm;
	top: 1cm;
	width: 1px;
}
.page_container .line.top {
	top: 1.75cm;
	left: 1cm;
	width: 14cm;
	height: 1px;
}
.page_container .line.bottom{
	bottom: 2cm;
	width: 14cm;
	left: 1cm;
	height: 1px;
}
.page_container .content {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: .5cm;
	position: relative;
}
.page_container .content p {
	line-height: 0.553030303cm;
	font-size: .85rem;
	display: block;
	height: 100%;
	width: 100%;
	float: left;
	overflow: hidden;
}

.page_container .linenums {
	position: absolute;
	top: 1.75cm;
	left: 0;
	width: 2cm;
	text-align: right;
	line-height: 0.553030303cm;
	font-size: .5rem;
	padding: .5cm .35cm;
	box-sizing: border-box;
	height: 19.25rem;
	letter-spacing: .01rem;
}
.page_container .linenums span {
	display: block;
	clear: both;
	width: 100%;
	position: relative;
}
.page_container .pagenum {
	position: absolute;
	line-height: 0.553030303cm;
	top: calc(100% - 1.8cm);
	font-size: .55rem;
	width: 2.5cm;
	left: calc(100% - 2.5cm);
	padding: 0 .35cm;
}
.page_container .title {
	position: absolute;
	line-height: 0.553030303cm;
	top: calc(100% - 1.8cm);
	font-size: .55rem;
	right: 2.5cm;
	padding: 0 .35cm;
	text-transform: uppercase;
	letter-spacing: .2rem;
}